<footer role="contentinfo">
    <div class="inner">
        <div class="vcard">
            <a href="http://feeds.feedsnap.com/shouldertheboulder" id="btn_feed" class="btn" title="Feed">
                <span aria-hidden="true" data-icon=")"></span>
                <strong>Feed</strong>
            </a>

            <div class="details">
                <h4><a href="{{@blog.url}}" class="url n">{{@blog.title}}</a></h4>
                <a href="{{@blog.url}}" class="js-remove-domain-schema">{{@blog.url}}</a><br>
                </div>
        </div>
        <div id="user_bio">
            <div class="inner">
				{{@blog.description}}
            </div>
        </div>
    </div>
</footer>