<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{#is 'post'}}{{@blog.title}} | {{/is}}{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.min.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} {{#is 'index, tag, author'}}user{{/is}} {{#is 'post'}}{{#unless post.image}}noimage{{/unless}}{{/is}}">

    {{! Everything else gets inserted here }}
    {{{body}}}

    {{! Ghost outputs important scripts and data with this tag }}
    {{! ghost_foot}}

	{{#is 'post'}}
		{{! Prism syntax highlighting JS file}}
		<script type="text/javascript" src="{{asset "js/prism.min.js"}}"></script>
	{{/is}}
	{{! For buster }}
	<aside style="display:none;">
		<a href="/sitemap.xml">sitemap.xml</a>
		<a href="/sitemap-pages.xml">sitemap-pages.xml</a>
		<a href="/sitemap-posts.xml">sitemap-posts.xml</a>
		<a href="/sitemap-posts.xml">sitemap-authors.xml</a>
		<a href="/sitemap-tags.xml">sitemap-tags.xml</a>
		<a href="/author/danny/">Danny Author Archive</a>
	</aside>
</body>
</html>