<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{#is 'post'}}{{@blog.title}} | {{/is}}{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.min.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}} {{#is 'index, tag, author'}}user{{/is}} {{#is 'post, page'}}{{#unless post.image}}noimage{{/unless}}{{/is}}">

    {{! Everything else gets inserted here }}
    {{{body}}}

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

	{{#is 'post'}}
		{{! Prism syntax highlighting JS file}}
		<script type="text/javascript" src="{{asset "js/prism.min.js"}}"></script>
	{{/is}}
	
	{{#is 'page'}}
		<script src="{{asset "js/jquery.swiftype.autocomplete.js"}}"></script>
		<script src="{{asset "js/jquery.ba-hashchange.min.js"}}"></script>
		<script src="{{asset "js/jquery.swiftype.search.js"}}"></script>

		<script type="text/javascript">
			$("#st-search-input").swiftype({
				engineKey: "sg3kn6rAnozjxvM4k8nk"
			});
			$("#st-search-input").swiftypeSearch({
				engineKey: "sg3kn6rAnozjxvM4k8nk",
				resultContainingElement: "#st-results-container"
			});
		</script>
	{{/is}}

	{{! For HTTbuster }}
	<aside style="display:none;">
		<a href="/search/">Search</a>
		<a href="/clients/">Clients</a>
	</aside>
</body>
</html>