{{!< default}}

{{#post}}

    {{#if image}}
        <div id="feature_image">
            <div class="inner" style="background-image: url('{{image}}')">
                <img src="{{image}}">
            </div>
        </div>
    {{/if}}

    <article role="main" class="{{#if image}}image{{/if}}">
        <header class="group">
            <a href="/" id="home_link">«</a>
            <div class="hgroup">
            	<h1>{{title}}</h1>
            	<div class="meta">
            		<time datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, YYYY"}}</time>
            		&nbsp;&bull;&nbsp;
					<span class="tags">{{tags}}</span>
					&nbsp;&bull;&nbsp;
					<span class="count" id="js-reading-time"></span>
            	</div>
			</div>
        </header>

        <div class="text" id="js-post-content">
            {{content}}
            <!--sse-->
			<div id="disqus_thread"></div>
			<script type="text/javascript">
				var disqus_shortname = 'shouldertheboulder';
				(function() {
					var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
				})();
			</script>
			<noscript><p style="text-align:center;"><small>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></small></p></noscript>
			<!--/sse-->
        </div>

    {{#author}}
        <footer class="post-footer" role="contentinfo">

            <div class="vcard">
                <a href="http://feeds.feedsnap.com/shouldertheboulder" id="btn_feed" class="btn" title="Feed">
                    <span aria-hidden="true" data-icon=")"></span>
                    <strong>Feed</strong>
                </a>

                {{#if image}}
                <a href="{{@blog.url}}" class="photo">
                    <span style="background-image: url('{{image}}');">
                        <img src="{{image}}" alt="{{name}}">
                    </span>
                </a>
                {{/if}}

                <div class="details">
                    <h4><a href="{{url}}" class="url n">{{name}}</a></h4>
                    {{#if location}}{{location}}<br>{{/if}}
                    {{#if website}}<a href="{{website}}" class="js-remove-domain-schema">{{website}}</a>{{/if}}
              
                </div>
            </div>

            <div id="user_bio">
                <div class="inner">
                    {{!-- TODO: Parse HTML for links --}}
                    {{bio}}
                </div>
            </div>

        </footer>
    {{/author}}

    </article>
{{/post}}

{{!-- TODO: Add next/prev posts --}}